/* Add CSS Styling */

.red-alert-text {
    background-color : rgb(255, 150, 150);
    /*background-color : hsl(0, 75%, 75%);*/
    font-family : Verdana, "Dejavu Sans", sans-serif;
}

.extra-for-element-3 {
    font-size : 24px;
}

#acrimonious-power {
    color : #0000ff;
    font-size : 36px;
}

#platinum {
    background-color : hsl(120 100% 75%);
    font-size: 24px;
    font-weight : bold;
}